# Node
node_modules/
dist/
build/
.vite/
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.env
.venv/
venv/
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env.local
.env.*

# Output
tree.json
